.el-card {
    border-radius: 0;
    border: 1px solid #E5E5E5;
    h1,
    h2,
    h3 {
        color: $o-green;
    }
}

.shop-name {
    color: $o-green;
    margin: 0;
    font-size: 2em;
}

.shop-slogan {
    margin: 0;
}

.title-row h3 {
    margin-bottom: .3rem;
}

.media-card {
    position: relative;
    text-align: center;
    min-height: 8rem;
    .el-card__body {
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    pointer-events: none;
    justify-content: space-between;
    .media-icon {
        color: $o-green;
        font-size: 100pt;
        opacity: .2;
    }
    #first-media-icon {
        position: absolute;
        left: -1.5rem;
        top: -2rem;
    }
    #second-media-icon {
        position: absolute;
        right: -1.5rem;
        top: 1.8rem;
    }
}

.profile-container {
    .img-container {
        background-color: #E5E5E5;
        border-radius: 50%;
        height: 3.7rem;
        width: 3.7rem;
        margin-right: .5rem;
        display: flex;
        overflow: hidden;
        align-items: center;
    }
    .profile-img {
        width: 100%;
        height: auto;
    }
}

.edit-profile-icon {
    color: $o-green;
    font-size: 20pt;
    margin-left: .5rem;
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 1rem 0 .3rem;
    h3 {
        margin: 0;
    }
}

// image upload
.profile-card {
    .el-upload--picture-card,
    .el-upload-list--picture-card .el-upload-list__item-actions,
    .el-upload-list--picture-card .el-upload-list__item {
        border-radius: 50%;
    }
}

.el-upload-list__item {
    transition: all .3s ease-in-out;
}

.is-disabled + .el-upload--picture-card {
    display: none;
}

.el-upload-list--picture-card .el-upload-list__item {
    display: flex;
    align-items: center;
}

.el-upload-list--picture-card .el-upload-list__item-thumbnail {
    height: auto;
}

.product-card {
    img {
        width: 100%;
        height: auto;
    }
    .el-card__body {
        position: relative;
    }
}

.el-dropdown-menu .el-popper {
    padding: 0 !important;
}

.menu-btn {
    position: absolute;
    right: 0;
    .el-button {
        padding: 5px;
    }
    i {
        transform: rotate(90deg);
    }
}

.products-transition {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    .el-col {
        display: flex;
    }
}

.bottom {
    margin-top: .5rem;
}

.forum-card {
    margin-bottom: 1rem; 
    .title-container {
        padding-top: .3rem;
    }
    .category-btn {
        margin: 0 !important;
    }
    h3, p {
        margin: 0 0 .5rem 0;
    }
    h3:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .flex-container {
        margin-top: 0;
    }
    .align-right {
        text-align: right;
        width: 100%;
        font-size: 14px;
        .el-button {
            margin: 0 0 0 .5rem !important;
        }
    }
}

.comment-input {
    .el-button {
        margin: 0 !important;
    }
}

.comment-card {
    margin-top: 1rem;
    h5 {
        color: $o-green;
    }
    h5, p {
        margin: 0 0 0 0 !important;
    }
    p {
        font-size: 13px;
        margin-top: .5rem !important;
    }
    .light-grey {
        font-size: 12px;
        color: #c3c3c3;
        margin: 0 !important;
    }
}

.forum-card,
.comment-card {
    text-align: left;
    position: relative;
    .time {
        position: absolute;
        top: .5rem;
        right: .5rem;
        font-size: 12px;
        color: #c3c3c3;
    }

}

@media only screen and (max-width: 767px) {
    .location-card {
        margin-top: 1rem;
    }
}