.filter-column {
    .el-select {
        width: 100%;
    }
}

.select-columns {
    display: flex;
    padding-top: 1rem;
    .el-select {
        width: 100%;
    }
}

.margin-left-auto {
    margin-left: auto;
}

.card {
    margin-top: 2rem;
}

.search-input {
    margin-bottom: .5rem;
    max-width: 15rem;
}