// General style
$white: #FFF;
$background: #F5F6FA;
$background-darker: #e5e5e5;
$border-grey: #e7e7e7;
$grey: #c3c3c3;
$text-color: #4A4A4A;

// company colors
$o-green: #6CCFAB;
$o-orange: #F0AE61;
$o-blue: #6CB7CF;

