@import '_variables';
@import '_auth';
@import '_search';

* {
    box-sizing: border-box;
}


body {
    background-color: #FFF;
}

.onliance-logomark {
    width: 5rem;
}

#app-inner {
    height: 100vh;
    display: flex;
    .el-row {
        width: 100%;
    }
}

.el-row {
    margin: 0 !important;
}

.inner-row {
    max-width: 1000px;
    margin: auto;
    padding-top: 3rem;
}

.el-menu-vertical-demo {
    height: inherit;
}

.onliance-logomark-nav {
    width: 2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.title {
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    padding: .5rem;
    h2 {
        text-align: left;
        margin: .3rem 1rem .2rem;
    }
    .el-button {
        margin: 0rem !important;
    }
}

.justify-center {
    display: flex;
    justify-content: center;
    .el-col {
        margin: 0 auto;
    }
}

.settings-col {
    text-align: left;
}

.button-container {
    text-align: right;
    button {
        margin-right: 0 !important;
    }
}

.mobile-menu {
    text-align: left;
}

//animations
.slide-fade-enter-active {
    transition: all 0.5s ease;
  }
  
  .slide-fade-leave-active {
    transition: all 0.5s ease;
  }
  
  .slide-fade-enter {
    transform: translateX(-100%);
  }
  
  .slide-fade-leave-to {
    transform: translateX(0%);
  }
  
  .fade-enter-active {
    transition: all 0.5s ease-in-out;
  }
  
  .fade-leave-active {
    transition: all 0.5s ease-in-out;
  }
  
  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }
  
  .fade-leave-to {
    opacity: 0;
  }